<div id="showpage">
	

<p>
	<strong>Title:</strong>
	<%= @story.title %>
</p>

 <p>
  <strong>Date:</strong>
  <%= @story.date %>
</p>
<p>
	<strong>Text:</strong>
	<%= @story.text %>
</p>

<%= link_to 'Back', stories	_path %>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @story.email %>
</p>

</div>