<% if @profil.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@profil.errors.count, "error") %> prohibited this profil from being saved:</h2>

    <ul>
      <% @profil.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>




<div class="container">
    <h1>Edit Profile</h1>
    <hr>
  <div class="row">
          <%= form_for @profil, :html => {:multipart => true, class: 'form-horizontal'} do |f| %>
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
        <div>
          <%= image_tag @profil.image_url(:thumb).to_s, class:"thumbnail"%>
        </div>
          <h6>Upload a different photo...</h6>
          
          <%= f.file_field :image, class:"form-control" %>
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h4>Personal info</h4><br>
        

          <div class="form-group">
            <label class="col-lg-3 control-label">First Name:<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
            <div class="col-lg-8">
              <%= f.text_field :first_name, class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last Name:<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
            <div class="col-lg-8">
              <%= f.text_field :last_name, class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Date Of Birth:<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
            <div class="col-lg-8">
              <%= f.date_select :dob,start_year:1940,end_year:2010 %>

            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Gender:</label>
            <div class="col-lg-8">
              <%= f.select( :gender,[["Male","male"],["Female","female"]], { include_blank: true }, { :class => 'form-control' })%>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">City Of Origin:<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
            <div class="col-md-8">
              <%= f.text_field :city_of_origin, class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Current Location:</label>
            <div class="col-md-8">
              <%= f.text_field :current_location, class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Asylum Status:</label>
            <div class="col-md-8">
              <%= f.select( :asylum_status,[["Residance","residance"],["Made the interview","made the interview"],["Waiting","waiting"]], { include_blank: true }, { :class => 'form-control' })  %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Email:<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
            <div class="col-md-8">
              <%= f.text_field :email, class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Bio:</label>
            <div class="col-md-8">
              <%= f.text_area :bio, class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Facebook:</label>
            <div class="col-md-8">
              <%= f.url_field :facebook, class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Twitter:</label>
            <div class="col-md-8">
              <%= f.url_field :twitter, class:"form-control" %>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-3 control-label">Linkedin:</label>
            <div class="col-md-8">
              <%= f.url_field :linkedin, class:"form-control" %>
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-3 control-label">Instagram:</label>
            <div class="col-md-8">
              <%= f.text_field :instagram, {  "class" => "form-control", "placeholder"=>"User name only"} %>
            
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <%= f.submit "Confirm", :class => "btn btn-primary" %>
              <span></span>
            </div>
          </div>
      </div>
        <% end %>

  </div>
</div>
<hr>
