<p id="notice"><%= notice %></p>

<h1>Listing Profils</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Bio</th>
      <th>City of origin</th>
      <th>Current location</th>
      <th>Asylum status</th>
      <th>Email</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Linkedin</th>
      <th>Instagram</th>
      <th>Dob</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profils.each do |profil| %>
      <tr>
        <td><%= profil.first_name %></td>
        <td><%= profil.last_name %></td>
        <td><%= profil.bio %></td>
        <td><%= profil.city_of_origin %></td>
        <td><%= profil.current_location %></td>
        <td><%= profil.asylum_status %></td>
        <td><%= profil.email %></td>
        <td><%= profil.facebook %></td>
        <td><%= profil.twitter %></td>
        <td><%= profil.linkedin %></td>
        <td><%= profil.instagram %></td>
        <td><%= profil.dob %></td>
        <td><%= profil.gender %></td>
        <td><%= link_to 'Show', profil %></td>
        <td><%= link_to 'Edit', edit_profil_path(profil) %></td>
        <td><%= link_to 'Destroy', profil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profil', new_profil_path %>
