<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profil.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profil.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profil.bio %>
</p>

<p>
  <strong>City of origin:</strong>
  <%= @profil.city_of_origin %>
</p>

<p>
  <strong>Current location:</strong>
  <%= @profil.current_location %>
</p>

<p>
  <strong>Asylum status:</strong>
  <%= @profil.asylum_status %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profil.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @profil.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @profil.twitter %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @profil.linkedin %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @profil.instagram %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @profil.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profil.gender %>
</p>

<%= link_to 'Edit', edit_profil_path(@profil) %> |
<%= link_to 'Back', profils_path %>
