

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container text-center">
<div class="col-lg-8 col-md-offset-2">
  
  <div class="form-group">
  <i class="fa fa-bookmark-o" aria-hidden="true"></i>
    <%= f.label :title%><br>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  <!-- <div class="field">
    <%= f.label :location %><br>
    <%= f.number_field :location %>
  </div> -->
  <div class="form-group">
  <i class="fa fa-calendar" aria-hidden="true"></i>
    <%= f.label 'Date of the Story' %><br>
    <%= f.date_select :date,start_year:2000,end_year:2016 %>
  </div>

 

  <!-- <div class="field">
  <i class="fa fa-picture-o" aria-hidden="true"></i>
    <%= f.label :photos %><br>
    <%= f.text_field :photos %>
  </div><br>  -->



<div class="boxed">

<br><label><i class="fa fa-location-arrow" aria-hidden="true"></i>
( Transportation )</label><br><br>



  <label class="checkbox-inline">
  <div class="form-group">
  <i class="fa fa-bus" aria-hidden="true"></i>
    <%= f.label :bus %><br>
    <%= f.check_box :bus %>
  </div>
</label>


  <label class="checkbox-inline">
  <div class="form-group">
  <i class="fa fa-car" aria-hidden="true"></i>
    <%= f.label :car %><br>
    <%= f.check_box :car %>
  </div>
</label>


  <label class="checkbox-inline">
  <div class="form-group">
  <i class="fa fa-life-ring" aria-hidden="true"></i>
    <%= f.label :boat %><br>
    <%= f.check_box :boat %>
  </div>
</label>


  <label class="checkbox-inline">
  <div class="form-group">
  <i class="fa fa-plane" aria-hidden="true"></i>
    <%= f.label :plane %><br>
    <%= f.check_box :plane %>
  </div>
</label>


  <label class="checkbox-inline">
  <div class="form-group">
<i class="fa fa-male" aria-hidden="true"></i>
    <%= f.label :walking %><br>
    <%= f.check_box :walking %>
  </div>
</label>


  <label class="checkbox-inline">
  <div class="form-group">
  <i class="fa fa-ticket" aria-hidden="true"></i>
    <%= f.label :train %><br>
    <%= f.check_box :train %>
  </div>
</label><br><br><br>
</div><br>

 <div class="form-group">
  <i class="fa fa-book" aria-hidden="true"></i>
    <%= f.label :text %><br>
    <%= f.text_area :text, class:"form-control text_box" %>
  </div>

<div class="form-group">

  <%= f.file_field :image %>

</div>


  <label>
  <div class="form-group">
  <i class="fa fa-lock" aria-hidden="true"></i>
    <%= f.label :privacy %>
    <%= f.check_box :privacy %>
  </div>
</label><br><br>

 
<div class="action">
<%= button_tag( :class => "btn btn-success") do %>
  Save Story <i class="fa fa-floppy-o" aria-hidden="true"></i>
</div>
</div>

</div>


<% end %>
<% end %>
