<div class="maincontant text-center">
<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
<link href="/posts.scss" rel="stylesheet">
<p id="notice"><%= notice %></p>

<h2>All Posts</h2>



<div class="container">
  
   <% @posts.each do |post| %>
  <div class="col-md-4">

    <h3><%= post.title %></h3>

    <p class="datestyle"><%= post.date.strftime("%d %b %Y")  %></p>
    
    <% if post.privacy %>
      <i class="fa fa-lock" aria-hidden="true"></i>
    <% end %>
    <% if post.bus %>
      <i class="fa fa-bus" aria-hidden="true"></i>
    <% end %>
    <% if post.car %>
      <i class="fa fa-car" aria-hidden="true"></i>
    <% end %>
    <% if post.boat %>
      <i class="fa fa-life-ring" aria-hidden="true"></i>
    <% end %>
    <% if post.plane %>
      <i class="fa fa-plane" aria-hidden="true"></i>
    <% end %>
    <% if post.walking %>
      <i class="fa fa-male" aria-hidden="true"></i>
    <% end %>
    <% if post.train %>
      <i class="fa fa-ticket" aria-hidden="true"></i>
    <% end %>

    <p><%= post.text.truncate(100) %><%= link_to '(more)', post%></p>
    
      
</div>  
<% end %>

</div>


<br>



</div>