<div class="maincontant text-center allposts">
<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
<link href="/posts.scss" rel="stylesheet">
<p id="notice"><%= notice %></p>

<div class="container-fluid">
<h1>All Stories</h1>

<%= image_tag("allstoriesimg.jpg", :class => "img img-responsive") %>
</div>
<div class="container">
  
   <% @posts.each do |post| %>
  <div class="col-md-4">

    <h4><%= post.title %></h4>

    <p class="datestyle"><%= post.date.strftime("%d %b %Y")  %></p>
    
    <% if post.privacy %>
      <i class="fa fa-lock" aria-hidden="true"></i>
    <% end %>
    <% if post.bus %>
      <i class="fa fa-bus" aria-hidden="true"></i>
    <% end %>
    <% if post.car %>
      <i class="fa fa-car" aria-hidden="true"></i>
    <% end %>
    <% if post.boat %>
      <i class="fa fa-life-ring" aria-hidden="true"></i>
    <% end %>
    <% if post.plane %>
      <i class="fa fa-plane" aria-hidden="true"></i>
    <% end %>
    <% if post.walking %>
      <i class="fa fa-male" aria-hidden="true"></i>
    <% end %>
    <% if post.train %>
      <i class="fa fa-ticket" aria-hidden="true"></i>
    <% end %>

    <p class="text-muted"><%= post.text.truncate(100) %><%= link_to '(more)', post%></p>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    
    <hr class="primary">   
</div>  
<% end %>

</div>


<br>



</div>