<div class="maincontant text-center">

<link href="/posts.scss" rel="stylesheet">
<p id="notice"><%= notice %></p>

<h2>My Posts</h2>

<div class="container">
   <% @myposts.each do |post| %>
  <div class="col-sm-3">
    <h3><%= post.title %></h3>

    <p class="datestyle"><%= post.date.strftime("%d %b %Y")  %></p>
    
    <% if post.privacy %>
      <i class="fa fa-lock" aria-hidden="true"></i>
    <% end %>
    <% if post.bus %>
      <i class="fa fa-bus" aria-hidden="true"></i>
    <% end %>
    <% if post.car %>
      <i class="fa fa-car" aria-hidden="true"></i>
    <% end %>
    <% if post.boat %>
      <i class="fa fa-life-ring" aria-hidden="true"></i>
    <% end %>
    <% if post.plane %>
      <i class="fa fa-plane" aria-hidden="true"></i>
    <% end %>
    <% if post.walking %>
      <i class="fa fa-male" aria-hidden="true"></i>
    <% end %>
    <% if post.train %>
      <i class="fa fa-ticket" aria-hidden="true"></i>
    <% end %>

    <p><%= post.text.truncate(100) %><%= link_to '(more)', post%></p>
    
    <%= link_to 'Show', post,:class=>"btn btn-success" %>
    <%= link_to 'Edit', edit_post_path(post),:class=>"btn btn-warning"   %>
    
  </div>
  <% end %>
</div>


<br>



</div>