<div class="maincontant text-center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @post.photos %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @post.privacy %>
</p>

<p>
  <strong>Bus:</strong>
  <%= @post.bus %>
</p>

<p>
  <strong>Car:</strong>
  <%= @post.car %>
</p>

<p>
  <strong>Boat:</strong>
  <%= @post.boat %>
</p>

<p>
  <strong>Plane:</strong>
  <%= @post.plane %>
</p>

<p>
  <strong>Walking:</strong>
  <%= @post.walking %>
</p>

<p>
  <strong>Train:</strong>
  <%= @post.train %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>