<div class="maincontant text-center">

<link href="/posts.scss" rel="stylesheet">
<p id="notice"><%= notice %></p>

<h3>
  <%= @post.title %>
</h3>

<!-- <p>
  <strong>Location:</strong>
  <%= @post.location %>
</p> -->


  <p class="datestyle"><%= @post.date.strftime("%d %b %Y")  %></p>




<!-- <p>
  <strong>Photos:</strong>
  <%= @post.photos %>
</p> -->


    <% if @post.privacy %>
      <i class="fa fa-lock" aria-hidden="true"></i>
    <% end %>
    <% if @post.bus %>
      <i class="fa fa-bus" aria-hidden="true"></i>
    <% end %>
    <% if @post.car %>
      <i class="fa fa-car" aria-hidden="true"></i>
    <% end %>
    <% if @post.boat %>
      <i class="fa fa-life-ring" aria-hidden="true"></i>
    <% end %>
    <% if @post.plane %>
      <i class="fa fa-plane" aria-hidden="true"></i>
    <% end %>
    <% if @post.walking %>
      <i class="fa fa-male" aria-hidden="true"></i>
    <% end %>
    <% if @post.train %>
      <i class="fa fa-ticket" aria-hidden="true"></i>
      
    <% end %>


<p class="row">
  <%= @post.text %>
</p><br><br><br>
<div>
  <%= image_tag @post.image_url(:thumb).to_s %>
</div>
<br><br><br><br>



<%= link_to 'Back', posts_path,:class=>"btn btn-default" %>
</div>